body{
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container{
    display: block;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
}

.header h1{ 
    margin-right: 75%; 
}

.header button{
    cursor: pointer;
    
}

#add-product-btn{
    margin-right: 10px;
}

.box{
    display: grid;
    row-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.content{
    cursor: pointer;
    width: 400px;
    height: 400px;
    border: 1px solid tomato;
}