body {
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container {
    display: block;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
}

.header h2 {
    margin-right: auto;
}

.header button {
    cursor: pointer;

}

#add-product-btn {
    margin-right: 10px;
}

.box {
    display: grid;
}