body {
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container {
    display: block;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    font-size: 0.8em;
}

.header h2 {
    margin-right: auto;
}

.header button {
    cursor: pointer;
}

.header a{
    text-decoration: none;
    color: black;
}

#add-product-btn {
    margin-right: 10px;
}

.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* place-items: center; */
    grid-template-rows: 1fr;
}

.content {
    cursor: pointer;
    border: 1px solid tomato;
}

.content ul{
    padding: 0;
    text-align: center;
}

.content li{
    list-style: none;
}